extends layout 
 
block content 
  h1= title 
 
  form(id='BoxingForm', action="/resource/Boxings", method="POST") 
    div.form-group 
        label.BoxingAttr(for='BoxingStyle') Boxing type 
        input#Boxing_type(type='text', name='BoxingStyle') 
    div.form-group 
        label.BoxingAttr(for='GlovesSize') Boxing size 
        input#size(type='text', name='GlovesSize') 
    div.form-group 
        label.BoxingAttr(for='BoxingGlovesCost') Boxing cost 
        input#cost(type='number', name='BoxingGlovesCost') 
    input(type="submit") 
 
  script. 
    document.forms['BoxingForm'].addEventListener('submit', (event) => { 
      event.preventDefault(); 
      // TODO do something here to show user that form is being submitted 
      fetch(event.target.action, { 
        method: 'POST', 
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form 
      }).then((resp) => { 
        return resp.json(); // or resp.text() or whatever the server sends 
      }).then((body) => { 
        alert("Save succeded") 
        // TODO handle body 
      }).catch((error) => { 
        // TODO handle error 
        alert("Save failed " + error ) 
      }); 
    }); 